# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Modèle et données
model.pkl
*.xlsx
data/

# IDE
.vscode/
.idea/
*.swp
*.swo